<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <!-- content-header component -->
    <app-content-header [contentHeader]="contentHeader"></app-content-header>

    <!-- <section id="faq-search-filter">
      <div class="card faq-search" style="background-image: url('assets/images/banner/banner.png')">
        <div class="card-body text-center">
          <h5>Name of customer</h5>
          <p class="card-text font-small-3">email</p>
          <h3 class="mb-75 mt-2 pt-50">
            <a href="javascript:void(0);">$48.9k</a>
          </h3>
          <div class="d-flex justify-content-around">
            <button type="button" class="btn btn-primary" rippleEffect>Skip</button>
            <button type="button" class="btn btn-primary" rippleEffect>Call</button>
          </div>
          <img src="assets/images/illustration/badge.svg" class="congratulation-medal" alt="Medal Pic" />
        </div>
      </div>
    </section> -->
    <!-- Call List page -->
    <section id="faq">
      <div class="row nav-vertical d-flex">
        <div class="col-md-3 mb-2 mb-md-0">
          <ul ngbNav #navVertical="ngbNav" class="nav nav-pills flex-column nav-left">
            <li class="nav-item" ngbNavItem>
              <a ngbNavLink class="nav-link d-flex py-75" id="payment" data-toggle="pill" href="#faq-payment" aria-expanded="true" role="tab">
                <i data-feather="phone-call" class="font-medium-3 mr-1"></i>
                <span class="font-weight-bold">Call List</span>
              </a>
              <div class="card" style="background-image: url('assets/images/banner/banner.png')">
                <div class="card-body text-center pt-2">
                  <h5>Name of customer</h5>
                  <p class="card-text font-small-3">email</p>
                  <h3 class="mb-75 pb-2">
                    <a href="javascript:void(0);">$48.9k</a>
                  </h3>
                  <div class="d-flex justify-content-around">
                    <button type="button" class="btn btn-primary" rippleEffect>Skip</button>
                    <button type="button" class="btn btn-primary" rippleEffect>Call</button>
                  </div>
                </div>
              </div>
              <ng-template ngbNavContent>
                <!-- Call List panel -->
                <div role="tabpanel" class="tab-pane active collapse-icon" id="faq-payment" aria-labelledby="payment" aria-expanded="true">
                  <!-- icon and header -->
                  <div class="d-flex align-items-center">
                    <div class="avatar avatar-tag bg-light-primary mr-1">
                      <i data-feather="phone-call" class="font-medium-4"></i>
                    </div>
                    <div>
                      <h4 class="mb-0">Call List</h4>
                      <span>CompleteList</span>
                    </div>
                  </div>

                  <!-- Call Status and list  collapse  -->
                  <div class="accordion collapse-margin mt-2">
                    <ng-container *ngIf="data.length; else noResults">
                      <ngb-accordion [destroyOnHide]="false" [closeOthers]="true" activeIds="paymentId1">
                        <ngb-panel id="paymentId{{ i }}" [cardClass]="'collapse-margin'" *ngFor="let paymentRef of data">
                          <ng-template ngbPanelTitle>
                            <span>{{ paymentRef.title }}</span>
                          </ng-template>
                          <ng-template ngbPanelContent>
                          <!-- table -->
                          <div class="row">
                            <div class="col-md-6 col-12">
                                <div class="d-flex justify-content-between align-items-center m-1">
                                    <label class="d-flex align-items-center">Show
                                        <select class="form-control mx-25" [(ngModel)]="basicSelectedOption">
                                            <option value="10">10</option>
                                            <option value="25">25</option>
                                            <option value="50">50</option>
                                            <option value="100">100</option>
                                        </select>
                                        </label>
                                </div>
                            </div>
                            <div class="col-md-6 col-12 d-flex justify-content-md-end">
                                <div class="d-flex align-items-center justify-content-end pb-1 pl-1 pl-md-0 pb-md-0">
                                    
                                    <div class="input-group mb-1 search-table">
                                        <input type="search" placeholder="Search" class="form-control ml-25"
                                            (keyup)="filterUpdate($event)" (search)="filterUpdate($event)" />
                                    </div>
                                 <!--    <button csvLink (click)="downloadCSV($event)"
                                        class="btn btn-outline-secondary float-right csv-export" rippleEffect><img
                                            src="assets/images/icons/csv.png" alt=""> </button> -->
                                </div>
                            </div>
                        </div>
        
                        <!-- ngx-datatables responsive -->
                        <ngx-datatable #table class="bootstrap core-bootstrap" [columnMode]="ColumnMode.force"
                            [headerHeight]="40" [rowHeight]="58" [footerHeight]="50" rowHeight="auto" [limit]="10" [rows]="rows"
                            [scrollbarH]="true">
                            <ngx-datatable-column name="Serial" prop="serial" [width]="150"></ngx-datatable-column>
                            <ngx-datatable-column name=" Name" prop="name" [width]="150"></ngx-datatable-column>
                            <ngx-datatable-column name="Contact" prop="contact" [width]="150">
                             <!--    <ng-template let-closeStatus="Zone" ngx-datatable-cell-template>
                                    <div class="badge badge-pill" [ngClass]="selectButtonClass(closeStatus)">
                                      {{ closeStatus }}
                                    </div>
                                  </ng-template> -->
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Zone" prop="zone" [width]="150"></ngx-datatable-column>
                            <ngx-datatable-column name="status" prop="status" [width]="150"></ngx-datatable-column>
                            <ngx-datatable-column name="Is Active" prop="isActive" [width]="150">
                               <!--  <ng-template let-verificationStatus="value" ngx-datatable-cell-template>
                                    <div class="badge badge-pill" 
                                    [ngClass]="{
                                      'badge-light-success': verificationStatus,
                                      'badge-light-dark': !verificationStatus
                                    }"
                                    >
                                    {{verificationStatus}}
                                    </div>
                                  </ng-template> -->
                            </ngx-datatable-column>
                            
                        </ngx-datatable>
                        <!--/ ngx-datatables responsive -->
                          </ng-template>
                        </ngb-panel>
                      </ngb-accordion>
                    </ng-container>
                    <ng-template #noResults>
                      <div class="p-5 text-center">
                        <h5 class="p-1"><i data-feather="info" size="19" class="mr-25"></i> No Results found</h5>
                      </div>
                    </ng-template>
                  </div>
                </div>
              </ng-template>
            </li>
            <!-- FAQ image -->
            <!-- <img src="assets/images/illustration/faq-illustrations.svg" class="img-fluid d-none d-md-block pt-5" alt="demand img" /> -->
          </ul>
        </div>
        <div [ngbNavOutlet]="navVertical" class="col-12 col-md-9"></div>
      </div>
    </section>
    <!--/ account setting page -->


  </div>
</div>
